
body{
    height: 100vh;
}

/* LOGGED IN TOP NAV BAR */
    .top-nav-bar-container{
        border-radius: 0px;
        border-bottom: 1px #D4D4D4 solid;
        max-height: 50px;
    }

    .header-username-container{
        display: flex;
        align-items: center;

    }
    .top-nav-bar-item{
        text-transform: uppercase
    }

    .top-nav-logo-con {
        width: 105px;
        height: 100%;    
    }

    .top-nav-bar-logo{
        background-image: url('../img/Logo1.png');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .top-nav-button-con{
        max-height: 50px;
        display: flex;
        align-items: center;
    }

    body{
        width: 100%;
    }
    
    li.top-nav-button-con{
        display: flex;
        justify-content: space-around;
    }

    .top-nav-btn{
        background-color: #EEBF00;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        border: 0px;
        margin: 5px;
    }

    ul.nav.navbar-nav.navbar-right{
        height: 100%;
        max-height: 50px;
        display: flex;
        align-items: center;
    }

/* LOGGED IN TOP NAV BAR */


/* BODY */

    .body-container{
        height: calc(100vh - 50px);
        display: grid;
        grid-template-areas: 
        "sidebar section1 section1 section1 section1"
        "sidebar section1 section1 section1 section1"
        "sidebar section1 section1 section1 section1"
        "sidebar section1 section1 section1 section1"
        "sidebar section1 section1 section1 section1"
        "section2 section2 section2 section2 section2"
        "section2 section2 section2 section2 section2"
        "section2 section2 section2 section2 section2"
        "section2 section2 section2 section2 section2"
        "section2 section2 section2 section2 section2"
        "section3 section3 section3 section3 section3"
        "section3 section3 section3 section3 section3"
        "section3 section3 section3 section3 section3"
        "section3 section3 section3 section3 section3"
        "section3 section3 section3 section3 section3"
    }

    .section1{
        grid-area: section1;
        border: 1px solid black;
    }

    .section2{
        grid-area: section2;
        border: 1px solid red;
    }

    .section3{
        grid-area: section3;
        border: 1px solid blue;
    }



    .sidebar{
        grid-area: sidebar;
    }
/* BODY */